body{
    background-color: #141414ff;
}

h1{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #faa549ff;
}

p{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #b7d0f1ff;
}